body{
    background-color: blueviolet;
}

.container{
    display: flex;
}

.menu{
    align-items: center;
    background-color: #000;
    color: #eee;
    display: flex;
    height: 90px;
    justify-content: space-evenly;
    width: 100%;
}

.titles-menu{
    color: red;
}